<div class="form-group">
  <%= f.label :password %><br />
  <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-rounded"  %>
</div>

<div class="form-group">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-rounded"  %>
</div>
