<div class="nested-fields">
  <%= f.text_area :content, rows: 2, class: "form-control base-border-rounded mb-2" %>
    
  <%= f.hidden_field :_destroy %>
  <%= link_to_remove_association "Loại bỏ bước", f, class: "remove-field hide-text rounded-circle" %>
</div>
