<h4 class="base-color-text mt-4">Thông Tin Cá Nhân</h4>
<hr>
<div>
  <h5 class="d-inline">Họ tên:&nbsp;</h5><p class="d-inline"><%= user.full_name %></p>
</div>
<div>
  <h5 class="d-inline">Ngày sinh:&nbsp;</h5><p class="d-inline"><%= user.birthday %></p>
</div>
<div>
  <h5 class="d-inline">Giới tính:&nbsp;</h5>
  <p class="d-inline">
    <% if user.male %>
      Nam
    <% else %>
      Nữ
    <% end %>
  </p>
</div>