<%= render 'home/banner' %>

<% unless @results.empty? %>
  <h4 class="mt-5 ml-3">Chúng tôi đã tìm thấy <%= @results.size %> công thức cho bạn:</h4>
  <div class="row active mx-5">
    <% @results.each do |result| %>
      <% recipe = Recipe.find_by_id(result.id) %>
      <%= render 'home/box_item', recipe: recipe %>
    <% end %>
  </div>
  <%== pagy_bootstrap_nav (@pagy) if @pagy.pages > 1 %>
<% else %>
  <h5 class="text-center my-3">Xin lỗi! Chúng tôi không tìm thấy công thức nào</h5>
<% end %>