<li id="recipe-like-link-<%= object.id.to_s %>">
  <% if user_signed_in? && object.is_liked(current_user).present? %>
    <%= link_to recipe_like_path(object, object.is_liked(current_user)), method: :delete, remote: true do %>
      <i class="fas fa-heart fa-lg"></i>
    <% end %>
  <% else %>
    <%= link_to recipe_likes_path(object), method: :post, remote: true do %>
      <i class="far fa-heart fa-lg"></i>
    <% end %>
  <% end %>
</li>
