/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'base';

.base-color {
  color: $base-color;
}

.base-border-rounded {
  border-radius: $base-border-rounded !important;
}

.horizontal-line {
  border-top: 3px solid green;
  margin-bottom: 15px;
}

.vertical-line {
  border-left: 2px solid green;
  height: 50px;
}

.rounded-15 {
  border-radius: $base-border-rounded !important;
}

.color-main {
  background-color: $base-color !important;
}

.navbar {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
  border-top: 10px solid green;

  .nav-icon {
    height: 100px;
    transition: 1s;
  }

  .btn-positive, .btn-negative {
    font-size: 18px;
    transition: 1s;
  }
}

.nav-positive {
  background-color: $base-color;
  border: 0;

  .nav-icon {
    height: 45px;
  }

  .btn-positive, .btn-negative {
    font-size: 15px;
  }
}

.btn-positive {
  color: #fff !important;
  background-color: $base-color !important;
  font-weight: bold !important;
  border-radius: $base-border-rounded !important;
  // font-size: large !important;
}

.btn-negative {
  @extend .btn-positive;
  color: $base-color !important;
  background-color: #fff !important;
}

.btn-highlight {
  @extend .btn-positive;
  color: #fff !important;
  background-color: #ff4500 !important;
}

.banner-area {
  background-image: url('background_banner.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 79vh;
}

.search-area {
  position: absolute;
  display: block;
  width: fit-content;
  // background-color: red;
}

#search:focus {
  border-bottom: 1px solid #259e2f;
  box-shadow: 0 1px 0 0 #259e2f;
  border-radius: 0;
}

.search-input {
  border: 2px solid rgb(110, 110, 110);
  border-radius: $base-border-rounded;
  width: 400px;
  background-color: #fff;
 }

.footer {
  width: 100%;
  background-color: $base-color;
  text-align: center;
  .footer-icon {
    height: 60px;
  }
  
  span {
    color: #fff;
    display: block;
  }
}

.add_fields {
  color: red;
  font-style: italic;
}
