<div class="footer">
  <a href="<%= root_path %>">
    <%= image_tag "cookgram_logo.png", alt: "Cookgram", class: "footer-icon" %>
  </a>
  <span>Copyright &#169; 2020 Cookgram Student Final Project</span>
</div>